/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

$col:120px;
$title-color:#F6E4BA;

//Images for stop and carry on
$img-height:40px;

$font-size:1em;

html {
	height:100%;
}

p {
	margin:0;
}


body {
	background-image:url('/testbed/bookstarts/images/paper_fibers.png'); // http://subtlepatterns.com/paper-fibers/
	max-width:960px;
	margin:0 auto;
	.container {
		height:100%;
		.title {
			h1 {
				font-family:'Prata',serif;
				font-size: 2em;
				letter-spacing: 0.2em;
				text-align:left;
				color:$title-color;
				float:left;
				margin:30px 0 20px 0;
			} 
			svg {
				height:48px;
				width:48px;
				float:left;
			}
			#bookmark-icon {
				fill:$title-color;
			}
			.tagline {
				color:gray;
				line-height:6em;
				margin:30px 0 0 30px;
				font-family:'Metamorphous';
			}
		} // end title
		.title:after {
			  content: "";
			  display: table;
			  clear: both;
			} 
		.main-content {
			max-width: $col*8;
			line-height:1.5em;
			font-size:$font-size*1.7;
			text-align:left;
			font-family:'Crimson Text',serif;
			border-top:1px dashed lightgrey;
			border-bottom:1px dashed lightgrey;
			padding:10px 0;
				.introduction {
				width:$col*7;
				margin-left:$col;
					p:first-letter {
						// color:#CAD7C5;
						font-size:$font-size*3;
						padding:10px;
						float:left;
						font-family:'Metamorphous';
					}
					p {
						color:#3C3B39;
					}
				} // end intorduction
		} // END main content
		.options {
			.book-details {
				width:$col;
				display:inline-block;
				margin-left:$col*4;
				margin-top:20px;
				svg {
			 		height:$img-height;
			 		width:$col;					
				}
				#book-12-icon {
					fill: #D37395;
				}
			}	
			.next-book {
			 	@extend .book-details;
			 	margin-left:$col*2;
			 	#note-13-icon {
			 		fill: #CAD7C5;
			 	}		

		}
		}
	} // end container  	
}
