/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* line 16, ../sass/screen.scss */
html {
  height: 100%;
}

/* line 20, ../sass/screen.scss */
p {
  margin: 0;
}

/* line 25, ../sass/screen.scss */
body {
  background-image: url("/testbed/bookstarts/images/paper_fibers.png");
  max-width: 960px;
  margin: 0 auto;
}
/* line 29, ../sass/screen.scss */
body .container {
  height: 100%;
}
/* line 32, ../sass/screen.scss */
body .container .title h1 {
  font-family: 'Prata',serif;
  font-size: 2em;
  letter-spacing: 0.2em;
  text-align: left;
  color: #f6e4ba;
  float: left;
  margin: 30px 0 20px 0;
}
/* line 41, ../sass/screen.scss */
body .container .title svg {
  height: 48px;
  width: 48px;
  float: left;
}
/* line 46, ../sass/screen.scss */
body .container .title #bookmark-icon {
  fill: #f6e4ba;
}
/* line 49, ../sass/screen.scss */
body .container .title .tagline {
  color: gray;
  margin: 0 0 30px 0;
  font-family: 'Metamorphous';
  clear: both;
}
/* line 56, ../sass/screen.scss */
body .container .title:after {
  content: "";
  display: table;
  clear: both;
}
/* line 61, ../sass/screen.scss */
body .container .main-content {
  max-width: 960px;
  text-align: left;
  font-family: 'Crimson Text',serif;
  border-top: 1px dashed lightgrey;
  border-bottom: 1px dashed lightgrey;
  padding: 10px 0;
}
/* line 68, ../sass/screen.scss */
body .container .main-content .introduction {
  width: 840px;
  margin-left: 120px;
}
/* line 71, ../sass/screen.scss */
body .container .main-content .introduction p:first-letter {
  font-size: 3em;
  padding: 10px;
  float: left;
  font-family: 'Metamorphous';
}
/* line 78, ../sass/screen.scss */
body .container .main-content .introduction p {
  color: #3C3B39;
  line-height: 1.5em;
  font-size: 1.7em;
}
/* line 86, ../sass/screen.scss */
body .container .options .book-details, body .container .options .next-book {
  width: 360px;
  display: inline-block;
  margin: 20px 0 20px 120px;
  text-align: center;
  color: grey;
  border: 1px dashed lightgrey;
  box-sizing: border-box;
}
/* line 94, ../sass/screen.scss */
body .container .options .book-details .headline, body .container .options .next-book .headline {
  font-size: 2em;
}
/* line 100, ../sass/screen.scss */
body .container .options .book-details svg, body .container .options .next-book svg {
  height: 40px;
  width: 120px;
}
/* line 104, ../sass/screen.scss */
body .container .options .book-details #book-12-icon, body .container .options .next-book #book-12-icon {
  fill: #D37395;
}
/* line 110, ../sass/screen.scss */
body .container .options .next-book #note-13-icon {
  fill: #CAD7C5;
}
/* line 116, ../sass/screen.scss */
body .container footer {
  width: 100%;
  text-align: center;
  margin: 30px 0;
}
